spring:
  application:
    name: orm-lms

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/orm_lms}
    username: ${DB_USERNAME:orm_lms}
    password: ${DB_PASSWORD:orm_lms}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
    open-in-view: false

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev

  jpa:
    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace


