spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/orm_lms}
    username: ${DB_USERNAME:orm_lms}
    password: ${DB_PASSWORD:orm_lms}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        show_sql: false
    open-in-view: false

  sql:
    init:
      mode: never

logging:
  level:
    root: WARN
    com.example.ormlms: INFO
    org.hibernate.SQL: WARN

